<div class="content " id="blur">
    <div class="conteiner_content d-flex">
      <div class="offer">
        <div class="slogan">
          <h1>ПЕРШИЙ В УКРАЇНІ</h1>
          <h1>PHOTOSTOK</h1>
          <h1>ВИБЕРИ</h1>
          <h1>ЗОБРАЖЕННЯ </h1>
          <h1>НАЙКРАЩИХ МИТЦІВ</h1>
        </div>
        <div class="search_block">
          <button class="search_img"></button>
          <input type="text" class="search" placeholder="Пошук зображень, відео, вeкторів...">
        </div>
        <a class="more_photos">More photos</a>
      </div>
      <div class="slider">
        <div class="circle"></div>
        <div class="triangles"></div>
        <div class="photograph"></div>
        <div class="circles"></div>

      </div>
    </div>
    
</div>
<app-slider></app-slider>
<app-subject></app-subject> 

  