/* You can add global styles to this file, and also import other style files */
body {
	background:#262626;
	font-family: 'Montserrat',sans-serif;
	padding: 0;
	margin: 0;
	color: #fff;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}
a:focus { outline: none; };
section{
	width: 100%;
	height: 100vh;
	/*transition: all .2s ease;*/
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
a, a:hover, a:active {
	text-decoration: none;
	transition: all 0.5s ease;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
	
}